/* ---------------- zone1 -------------------*/
.zone1{
  text-align: center;
}

.zone1 > p{
  display: table;
  margin: 160px auto 0 auto;
  padding: 2px 6px;
}

.zone1 > .font3 {font-size: 7rem;}

.z1{
  width: 640px;
  margin: 20px auto 0 auto;
  line-height: 200%;
}

/* -------------------------------- Media Queries -----------------------------------*/
/* -------------------------------- ------------- -----------------------------------*/

/* ---------Min width--------*/
@media (min-width: 399.98px) {}

/* ---------Max width--------*/
@media (max-width: 1529.98px) {
  .zone1 > p{
    margin: 120px auto 0 auto;
  }

  .z1{
    margin: 20px auto -10px auto;
  }
}

@media (max-width: 1399.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1 > p{
    margin: 110px auto 0 auto;
  }

  .z1{
    width: 520px;
  }
}

@media (max-width: 1329.98px) {}

@media (max-width: 1199.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1 > p{
    margin: 100px auto 0 auto;
  }

  .zone1 > .font3{
    font-size: 6.5rem;
  }
}

@media (max-width: 991.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1 > p{
    margin: 100px auto 0 auto;
  }

  .zone1 > .font3{
    font-size: 5.5rem;
  }

  .z1{width:640px;}
}

@media (max-width: 840.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1{
    margin: 0 10%;
  }

  .zone1 > p{
    margin: 80px auto 0 auto;
  }

  .zone1 > .font3{
    font-size: 5.5rem;
  }

  .z1{
    width:auto;
  }
}

@media (max-width: 749.98px) {}

@media (max-width: 699.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1{
    margin: 50px 12% 60px 12%;
  }

  .zone1 > .font3{
    font-size: 5rem;
  }
}

@media (max-width: 633.98px) {}

@media (max-width: 439.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1{
    margin: 70px 12% 40px 12%;
  }

  .zone1 > .font3{
    font-size: 4rem;
  }

  .zone1 > p{
    margin: 0 auto 8px auto;
  }

  .z1{
    line-height: 180%;
  }
}

@media (max-width: 339.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1{
    margin: 50px 12% 40px 12%;
  }

  .zone1 > .font3{
    font-size: 3rem;
  }
}

@media (max-width: 239.98px) {
  /* ---------------- zone1 -------------------*/
  .zone1{
    margin: 50px 5% 40px 5%;
  }

  .zone1 > .font3{
    font-size: 2rem;
  }
}
/* End @media Queries*/
